openfaas:
  functionNamespace: openfaas-fn  # Default namespace for functions
  openfaasPRO: false
  exposeServices: false
  async: true
  serviceType: ClusterIP
  httpProbe: true               # Setting to true will use HTTP for readiness and liveness probe on the OpenFaaS system Pods (incompatible with Istio < 1.1.5)
  rbac: true
  clusterRole: false            # Set to true to have OpenFaaS administrate multiple namespaces
  createCRDs: true
  basic_auth: true
  generateBasicAuth: false
  securityContext: true
  psp: false
  openfaasImagePullPolicy: "Always"

  gateway:
    image: ghcr.io/openfaas/gateway:0.21.1
    readTimeout: "65s"
    writeTimeout: "65s"
    upstreamTimeout: "60s"  # Must be smaller than read/write_timeout
    replicas: 1
    scaleFromZero: true
    # change the port when creating multiple releases in the same baremetal cluster
    nodePort: 31112
    maxIdleConns: 1024
    maxIdleConnsPerHost: 1024
    directFunctions: false
    # Custom logs provider url. For example openfaas-loki would be
    # "http://ofloki-openfaas-loki.openfaas:9191/"
    logsProviderURL: ""
    resources:
      requests:
        memory: "120Mi"
        cpu: "50m"

  basicAuthPlugin:
    image: ghcr.io/openfaas/basic-auth:0.21.1
    replicas: 1
    resources:
      requests:
        memory: "50Mi"
        cpu: "20m"

  faasnetes:
    image: ghcr.io/openfaas/faas-netes:0.14.1
    readTimeout: "60s"
    writeTimeout: "60s"
    imagePullPolicy: "Always"    # Image pull policy for deployed functions
    httpProbe: true               # Setting to true will use HTTP for readiness and liveness probe on Pods (incompatible with Istio < 1.1.5)
    setNonRootUser: false
    readinessProbe:
      initialDelaySeconds: 2
      timeoutSeconds: 1           # Tuned-in to run checks early and quickly to support fast cold-start from zero replicas
      periodSeconds: 2            # Reduce to 1 for a faster cold-start, increase higher for lower-CPU usage
    livenessProbe:
      initialDelaySeconds: 2
      timeoutSeconds: 1
      periodSeconds: 2           # Reduce to 1 for a faster cold-start, increase higher for lower-CPU usage
    resources:
      requests:
        memory: "120Mi"
        cpu: "50m"

  queueWorker:
    image: ghcr.io/openfaas/queue-worker:0.12.2
    # Control HA of queue-worker
    replicas: 1
    # Control the concurrent invocations
    maxInflight: 1
    gatewayInvoke: true
    queueGroup: "faas"
    ackWait: "60s"
    resources:
      requests:
        memory: "120Mi"
        cpu: "50m"

  prometheus:
    image: prom/prometheus:v2.11.0
    create: true
    resources:
      requests:
        memory: "512Mi"
    annotations: {}

  alertmanager:
    image: prom/alertmanager:v0.18.0
    create: true
    resources:
      requests:
        memory: "25Mi"
      limits:
        memory: "50Mi"

  # async provider
  nats:
    channel: "faas-request"
    external:
      clusterName: ""
      enabled: false
      host: ""
      port: ""
    image: nats-streaming:0.22.0
    enableMonitoring: false
    metrics:
      # Should stay off by default because the exporter is not multi-arch (yet)
      enabled: false
      image: natsio/prometheus-nats-exporter:0.8.0
    resources:
      requests:
        memory: "120Mi"

  # ingress configuration
  ingress:
    enabled: false
    pathType: ImplementationSpecific
    # Used to create Ingress record (should be used with exposeServices: false).
    hosts:
      - host: gateway.abrmanlabs.com  # Replace with gateway.example.com if public-facing
        serviceName: gateway
        servicePort: 8080
        path: /
    annotations:
      kubernetes.io/ingress.class: nginx
    tls:

  ingressOperator:
    image: ghcr.io/openfaas/ingress-operator:0.6.7
      replicas: 1
      create: false
      resources:
        requests:
          memory: "25Mi"
